:root {
	--m-and-c-blue : #006AB1;
	--green-bg: #C9ECE0;
}


body {
	margin: auto;
	width: 45em;
	counter-reset: chapters sections subsections tables figures definitions examples toc-chapters appendices;
	text-align: justify;
	background-color: white;
	color: black;
	hyphens: auto;
	font-family: "Charis", serif;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
	font-variant-ligatures: common-ligatures;
	text-justify: inter-character;
	padding-left: 3em;
	border-left: solid 2px var(--m-and-c-blue);
	margin-top: 1360px;
}

div.cover {
	position: absolute;
	top: 0px;
	left: calc(50vw - 523px);
	width: 1047px;
}
/**
 * 
 **/
#title {
	margin-left: 0;
	margin-right: 0;
	padding-top: 2.1em;
	padding-bottom: 2.5em;
	font-variant: small-caps;
	font-family: "Quattrocento", sans-serif;
	font-weight: 100;
	font-size: 330%;
	color: var(--m-and-c-blue);
	letter-spacing: .2em;
	padding-right: 5.5em;
	line-height: 200%;
}
h1#title {
	text-align: right;
	vertical-align: middle;
	margin: -1em;
	padding: -1em;
}
h1#title .big-letter {
	vertical-align: middle;
	font-size: 350%;
	color: var(--m-and-c-blue);
}
header {
	color: var(--m-and-c-blue);
}
ul.authorlist, ul.reflist {
	list-style-type: none;
	padding-left: 0;
}
.author {
	/*font-variant: small-caps;*/
	display: block;
	font-size: 150%;
	margin: 0;
	padding: 0;
}
.country {
	display: none;
}

/**
 *  Chapter titles, (sub)section titles
 **/
h1, h2, h3, h4 {
	font-family: "Quattrocento", serif;
}
h2 {
	margin-top: 2.5em;
	color: var(--m-and-c-blue);
	font-size: 190%;
}
h2#abstract, #theend, #keywords {
	font-weight: 100;
	text-align: center;
	margin: auto;
	border-bottom: 1px solid var(--m-and-c-blue);
	line-height: .1em;
	padding-top: 3em;
}
h2#abstract span, #theend span, #keywords span {
	background: white;
}
h2#abstract span:before, #theend span:before, #keywords span:before {
	content: " ☙ ";
}
h2#abstract span:after, #theend span:after, #keywords span:after {
	content: " ❧ ";
}
.info {
	color: black;
}
.info dl dt {
	font-weight: bold;
}
h3 {
	margin-top: 2.1em;
	color: var(--m-and-c-blue);
	font-size: 150%;
}
h4 {
	margin-top: 1.7em;
	color: var(--m-and-c-blue);
	font-size: 120%;
}
.paragraph {
	color: var(--m-and-c-blue);
}
table {
	border-collapse: collapse;
	margin: auto;
	align-content: center;
	justify-content: center;
}
thead th {
	border-bottom: 2px solid black;
}
tfoot td {
	border-top: 1px solid black;
	border-bottom: 2px solid black;	
}
table caption {
	text-align: justify;
	max-width: 95%;
	width: max-content;
	margin: auto;
}
table caption:before {
	counter-increment: tables;
	color:  var(--m-and-c-blue);
	content: "Table " counter(chapters) "." counter(tables) ": ";
}
section > figure {
	width: 100%;
	margin: auto;
	text-align: center;
	counter-reset: subfigures;
}
figure > img {
	margin-top: 3em;
	margin-bottom: 3em;
	transform: scale(1.3);
}
figcaption {
	font-size: 90%;
}
section > figure > figcaption {
	/*text-align: left;*/
	max-width: 95%;
	text-align: justify;
	width: max-content;
	margin: auto;
}
figure > figcaption:before {
	counter-increment: figures;
	color:  var(--m-and-c-blue);
	content: "Figure " counter(chapters) "." counter(figures) ": ";
}
figure > figure > figcaption:before {
	counter-increment: subfigures;
	content: "(" counter(subfigures, lower-alpha) ") ";
}
img.multi {
	margin-left:3em;
	float:left;
}
img.inlined {
	margin-top: .5em;
	margin-bottom: .5em;
	margin-left: 2.5em;
	margin-right: 2.5em;
}
img.inlined:first-child {
	margin-top: 3em;
}
figure dl dt {
	float: left;
	width: 5em;
	margin-left: 1em;
	text-align: right;
}
figure dl dd {
	margin-left: 7em;
	text-align: left;
}
figure dl dd img.inlined:first-child, figure dl dd img.inlined {
	margin: 0;
	vertical-align: middle;
}
img.inside {
	transform: scale(1.3);
	margin: 1em;
	vertical-align: middle;
}
.chapter {
	counter-reset: sections subsections figures tables definitions examples;
}
.chapter > h2:before {
	position: relative;
	font-weight: 100;
	left: 5em;
	bottom: 2em;
	text-align: center;
	counter-increment: chapters;
	content: "Chapter " counter(chapters);
}
.chapter > h2 {
	margin-top: 7em;
	margin-left: -5em;
	font-weight: bold;
	background-color: var(--green-bg);
	text-align: center;
}
.prechapter > h2 {
	margin-top: 7em;
	margin-left: -5em;
	font-weight: bold;
	background-color: var(--green-bg);
	text-align: center;
}
.section {
	counter-reset: subsections;
}
.section > h3 {
	font-variant: small-caps;
}
.section > h3:before {
	counter-increment: sections;
	margin-right: 2em;
	content: counter(chapters) "." counter(sections);
}
.subsection {
	font-variant: small-caps;
}
h4.subsection:before {
	counter-increment: subsections;
	margin-right: 1em;
	content: counter(chapters) "." counter(sections) "." counter(subsections);
}

.footnote {
	font-style: initial;
	position: absolute;
	float: left;
	left: calc(50vw + 24.5em);
	border: 1px solid lightgrey;
	border-radius: .5em;
	background-color: lightyellow;
	padding: 0.5em;
	line-height: 1.1em;
	margin-right: 1em;
	transition: all 500ms ease-in-out;
	max-width: 40em;
	width: max-content;
}
.footnote:hover {
	z-index: 100;
	border: 1px solid orange;
	left: min(calc(100vw - 42em),calc(50vw + 24.5em));
	width: 40em;
}

.footnote#fn23 {
	margin-top: 1em;
}
.footnote#fn33 {
	margin-top: 4em;
}

table#tab-related th, table#tab-related td {
	font-size: 80%;
	text-align: left;
	vertical-align: bottom;
	padding: .3em;
}
.rot {
	transform: rotate(-80deg);
	width: 0;
	height: 8em;
	top: 4em;
	left: 3.5em;
	position: relative;
	vertical-align: bottom;
	hyphens: none;
}
table.normalTable th, table.normalTable td {
	padding: .41em;
}
table.normalTable th, table.condensedTable th {
	border-top: 2px solid black;
}
table.normalTable td, table.condensedTable td {
	border-bottom: 1px solid black;
	vertical-align: middle;
	font-size: 90%;
}
table.normalTable td:first-child {
	font-variant: small-caps;
}
table.normalTable tr:last-child td, table.condensedTable tr:last-child td {
	border-bottom: 2px solid black;
}
table.condensedTable th, table.condensedTable td {
	text-align: left;
	padding-right: 1em;
}
table.condensedTable {
	margin-bottom: 1.5em;
}
.subtabhead {
	text-align: center;
	border-top: 1px solid black;
}
strong.id {
	color: darkgreen;
}
strong.ib {
	color: darkblue;
}

dl#outline dt {
	float: left;
	margin-right: 1em;
}
dl#outline dt:after {
	content: ": ";
}

a {
	text-decoration: none;
	color: var(--m-and-c-blue);
}
.mathblock {
	text-align: center;
}

.sf {
	font-family: "cmss8", sans-serif;
	font-size: 90%;
	font-style: normal;
}
.sc {
	font-variant: small-caps;
	font-size: 90%;
	font-style: normal;
}
.tt, code {
	font-family: "Hasklig", monospace;
	font-style: normal;
}
.underline {
	text-decoration: underline;
}
.gnode {
	font-family: "cmss8", sans-serif;
	font-style: normal;
	font-size: 80%;
	text-align: center;
	border: 1.5px solid #808080;
	border-radius: .8em;
	padding: .25em;
	margin: 0;
	display: inline-block;
	background: linear-gradient(#FCFCFC, #DADADA);
}
.gvar {
	font-style: normal;
	display: inline-block;
	font-family: "cmss8", sans-serif;
	font-size: 80%;
	border: 1.5px dashed #000;
	border-radius: 1em;
	padding: .2em;
	margin: 0;
	background: linear-gradient(#FDFFFD, #DBFFDB);
}
.ginode {
	font-style: normal;
	display: inline-block;
	font-family: "cmss8", sans-serif;
	font-size: 80%;
	border: 1.5px dotted #004;
	color: #004;
	border-radius: 1em;
	padding: .2em;
	margin: 0;
	background: linear-gradient(#EEFFFF, #C2E1E1);
}
.iedge {
	font-style: normal;
	color: #520;
	display: inline-block;
	font-family: "cmss8", sans-serif;
	font-size: 80%;
	margin: 0;
	padding-right: .1em;
	padding-left: .1em;
}
.markupf {
	font-style: normal;
	color: #503;
	display: inline-block;
	font-family: "cmss8", sans-serif;
	font-size: 80%;
	margin: 0;
	padding-right: .1em;
	padding-left: .1em;
}
.shap {
	font-style: normal;
	font-size: 80%;
	font-variant: small-caps;
	border: 1px solid black;
	padding: .1em;
	display: inline-block;
	background-color: #FFFAD8;
}
.tnode {
	font-style: normal;
	font-size: 80%;
	font-family: "cmss8", sans-serif;
	border: 1px solid black;
	padding: .2em;
	display: inline-block;
	background-color: #FFF;
}
.stack {
	display: inline-block;
	position: relative;
	top: 1em;
	margin-top: -1em;
	text-align: center;
}
.stack span:last-child {
	position: relative;
	top: -0.9em;
}
.stack-tab {
	display: inline-block;
	vertical-align: middle;
}
.edge {
	font-style: normal;
	display: inline-block;
	color: #0000FF;
	font-family: "cmss8", sans-serif;
	font-size: 80%;
	margin: 0;
	padding-right: .1em;
	padding-left: .1em;
}
.uri {
	font-style: normal;
	display: inline-block;
	font-family: "cmss8", sans-serif;
	font-size: 92%;
}
.uris code {
	font-size: 85%;
}
image.tip {
	border: none;
	margin: 0;
	padding: 0;
}
.arc {
	color: #BF0040;
	margin: 0;
	padding: 0;
}
.gelab {
	font-style: normal;
	color: #0000FF;
	font-family: "cmss8", sans-serif;
	font-size: 90%;
	display: inline-block;
}
.gielab {
	font-style: normal;
	color: #530;
	display: inline-block;
	font-family: "cmss8", sans-serif;
	font-size: 90%;
}
.circled {
	border: 1px solid black;
	border-radius: 1em;
	padding-left: .5em;
	padding-right: .5em;
	margin-right: 1em;
}
.nobreak {
	display: inline-block;
}

img.todo {
	border: 1px solid red;
}
.ref-NONE {
	color: red;
}

/**************************/
/*                        */
/*  Style for appendices  */
/*                        */
/**************************/
section#app {
	counter-reset: chapters;
}
.appendix {
	counter-reset: sections subsections;
}
.appendix > h2:before {
	position: relative;
	font-weight: 100;
	left: 5em;
	bottom: 2em;
	text-align: center;
	counter-increment: chapters;
	content: "Appendix " counter(chapters, upper-alpha);
}
.appendix > h2 {
	margin-top: 7em;
	margin-left: -5em;
	font-weight: bold;
	background-color: var(--green-bg);
	text-align: center;
}
.sectionapp {
	counter-reset: subsections;
}
.sectionapp > h3 {
	font-variant: small-caps;
}
.sectionapp > h3:before {
	counter-increment: sections;
	margin-right: 2em;
	content: counter(chapters, upper-alpha) "." counter(sections) ". ";
}
.ssectionapp {
	font-variant: small-caps;
}
h4.ssectionapp:before {
	counter-increment: subsections;
	margin-right: 1em;
	content: counter(chapters, upper-alpha) "." counter(sections) "." counter(subsections) ". ";
}

ul#def-categories {
	list-style-type: none;
	counter-reset: def-categories;
}
ul#def-categories > li {
	text-indent: -2em;
	margin-bottom: .5em;
}
ul#def-categories > li:before {
	font-style: italic;
	counter-increment: def-categories;
	content: "Category " counter(def-categories, upper-roman) ": ";
}
ul#def-categories li li {
	text-indent: 0;
}
/* ************************/
/*                        */
/*  Style of definitions  */
/*                        */
/* ************************/
dl.definition {
	counter-increment: definitions;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.5em;
	background-color: #E6EBF2;
	border: 1px solid #B5C4D9;
	border-radius: 0.8em;
	page-break-inside: avoid;
}
dl.definition dt:before {
	content: "Definition " counter(chapters) "." counter(definitions) " (";
	font-weight: bold;
	font-style: normal;
}
dl.definition dt:after {
	font-weight: bold;
	content: ")";
	font-style: normal;
}
dl.definition dt {
	border-bottom: 1px solid #849CC0;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
dl.definition dd {
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-style: italic;
	text-indent: 0.3em;
}
dl.definition dd p {
	margin: 0;
	padding: 0;
}
dl.definition dd em[id] {
	font-style: normal;
}

/* ************************/
/*                        */
/*  Style of examples     */
/*                        */
/* ************************/
div.example {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-style: italic;
	counter-increment: examples;
}
div.example em[id] {
	font-style: normal;
}
/*div.example p:first-child {
	text-indent: 0;
}*/
div.example p:first-child:before {
	content: "Example " counter(chapters) "." counter(examples) " — ";
	font-weight: bold;
	font-style: normal;
}

/*****************/
/*  Other stuff  */
/*****************/

#tab-gnn tr td:first-child {
	margin-left: 4em;
	padding-left: 4em;
}
#tab-gnn td {
	text-align: left;
}

#unesco {
	margin-left: 61%;
	text-align: left;
	font-family: "cmss8", sans-serif;
	font-size: 88%;
}
#unesco > p {
	background-color: #ededed;
	margin-bottom: 0;
	margin-right: 2.8em;
}
#unesco > p:before {
	content: "🌎 ";
	color: black;
}
#unesco > p:after {
	content: " ×";
	color: black;
}
#unesco > div {
	padding: .2em;
	background-color: #ededed;
	border: 1px solid black;
}
.html-h1 {
	font-size: 185%;
	font-weight: bold;
}
.html-h2 {
	font-size: 145%;
	font-weight: bold;
}
#fig-rdbCrime div {
	font-family: Hasklig;
	font-size: 90%;
}
#fig-rdbCrime p {
	font-size: 130%;
	font-weight: bold;
	text-align: left;
	margin-bottom: 0;
}
#fig-rdbCrime table th {
	border-bottom: 2px solid black;
}
#report {
	float:left;
	width: 60%;
}
#report p {
	margin-left: 1em;
}
#claimant {
	margin-left: 61%;
}


/************/
/*  T.O.C.  */
/************/
#toc {
	position: fixed;
	left: -16em;
	top: 0;
	width: 19em;
	border-right: 1px solid lightgrey;
	margin: 0;
	padding: 0;
	transition: left 300ms ease-in-out;
	color: grey;
	background-color: white;
}
#toc div {
	border-left: 1px dashed lightgrey;
	position: relative;
	right: 0;
	left: 16em;
	height: 100vh;
	width: 3em;
	color: inherit;
}
#toc div p {
	vertical-align: middle;
	position: relative;
	top: 50vh;
	width: 10em;
	padding-top: 2.7em;
	transform: rotate(-90deg);
	transform-origin: left;
	color: inherit;
}
#toc:hover {
	left: 0;
	color: var(--m-and-c-blue);
}
#toc > ol {
	position: absolute;
	top: 0;
	left: 0;
	width: 16em;
	padding: 0;
	margin: 0;
	padding-top: .5em;
	list-style-type: none;
}
#toc > ol > li {
	margin: 0;
	vertical-align: middle;
	padding: .5em;
	font-size: 85%;
	height: 1em;
	border-bottom: 1px solid lightgrey;
	background-color: white;
	overflow: hidden;
	transition: all 200ms ease-in-out;
	color: grey;
}
#toc > ol ol {
	margin-top: 1em;
	padding-left: 0;
	margin-left: 0;
	list-style-type: none;
}
#toc a {
	color: inherit;
}
#toc > ol > li#toc-filler {
	border: none;
	background-color: white;
	padding-bottom: calc(100vh - 4 * 14em);
}
#toc > ol > li#about {
	border: none;
}
#toc > ol > li:not(#toc-filler,#about):hover {
	height: max-content;
	width: 18.5em;
	border-radius: 0 1em 1em 0;
	border: 1.5px solid var(--m-and-c-blue);
	border-left: none;
	color: var(--m-and-c-blue);
}
#toc li#about a {
	font-family: Hasklig;
	font-size: 100%;
	position: fixed;
	text-align: center;
	margin: .5em;
	padding: .5em;
	bottom: 0;
	left: 0;
	background: white;
	box-shadow: .5em .5em .5em darkgrey;
	z-index: 1000;
	border: 1px solid lightgrey;
	border-radius: .5em;
	color: var(--m-and-c-blue);
	font-weight: 100;
}

.formal {
	padding: .1em 1em .1em 1em;
	margin-top: .5em;
	margin-bottom:  .5em;
	background-color:  var(--green-bg);
}